trunk/CassiniDev.FixtureExamples.NUnit/Service References/TestWCFServiceReference/TestWCFService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://TestWebApp" elementFormDefault="qualified" targetNamespace="http://TestWebApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7352/TestWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CassiniDev.FixtureExamples.TestWeb" />
  <xs:element name="HelloWorld">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloWorldResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorldWithArgsInOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CassiniDev.FixtureExamples.TestWeb" minOccurs="0" name="args" nillable="true" type="q1:HelloWorldArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorldWithArgsInOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CassiniDev.FixtureExamples.TestWeb" minOccurs="0" name="HelloWorldWithArgsInOutResult" nillable="true" type="q2:HelloWorldArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>